* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 200vh;
    padding: 0 2em;
    flex-direction: column;
    background-color: #f5f5f5;
}

header {
    position: sticky;
    top: 0;
    padding: 2em 0 15px 0;
    z-index: 999;
    background-color: inherit;
}

header .header_title {
    display: flex;
    align-items: center;
    font-size: 15px;
}

header .date {
    font-size: 15px;
}

header .header_title img {
    width: 40px;
    margin-right: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

main table {
    margin: 1.5em 0 0 0;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    z-index: 1;
}

main table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

main .task_form {
    background-color: #f5f5f5;
    padding: 13px 0 2em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

main .task_field {
    display: flex;
    margin: 0 2em;
    background-color: #ffffff;
    padding: 0.5em 0.3em;
}

main .task_form .task_field img {
    width: 30px;
    margin: 0 0.2em;
}

main .task_form .task_field input[type=text] {
    width: 100%;
    border: none;
    font-size: 16px;
}

main .task_form .task_field input[type=text]:focus {
    outline: none;
}