* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    padding: 0 2em;
    flex-direction: column;
    background-color: #27374d;
}

header {
    position: sticky;
    top: 0;
    padding: 2em 0 20px 0;
    color: #acc2cf;
    z-index: 999;
    background-color: inherit;
    user-select: none;
}

header .header_title {
    display: flex;
    align-items: center;
    font-size: 15px;
}

header .date {
    font-size: 15px;
}

header .header_title img {
    width: 40px;
    margin-right: 0.5em;
}

main {
    padding: 0;
    overflow-y: auto;
    scrollbar-gutter: stable;
    height: calc(100vh - 205px);
}

main .task_list {
    color: white;
}

main .task_list ul li {
    padding: 0.8em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    position: fixed;
    padding: 7px 0 2.5em 0;
    bottom: 0;
    background-color: #27374d;
    left: 0;
    width: 100%;
    z-index: 999;
}

footer .task_field {
    display: flex;
    margin: 0 2em;
    background-color: #526d82;
    border-radius: 5px;
    padding: 0.5em 0.3em;
}

footer .task_form .task_field img {
    width: 30px;
    margin: 0 0.2em;
}

footer .task_form .task_field input[type=text] {
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: #526d82;
    color: #ffffff;
}

footer .task_form .task_field input[type=text]::placeholder {
    color: #dde6ed;
    user-select: none;
    
}

footer .task_form .task_field input[type=text]:focus {
    outline: none;
}

main .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 205px);
    user-select: none;
}

main .container img {
    width: 230px;
    margin-bottom: 10px;
}

main .container p {
    text-align: center;
    color: rgba(156, 177, 191, 0.7);
    font-size: 0.8em;
    word-spacing: 0.1em;
}
