* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    padding: 0 2em;
    flex-direction: column;
    background-color: #f5f5f5;
}

header {
    position: sticky;
    top: 0;
    padding: 2em 0 20px 0;
    z-index: 999;
    background-color: inherit;
}

header .header_title {
    display: flex;
    align-items: center;
    font-size: 15px;
}

header .date {
    font-size: 15px;
}

header .header_title img {
    width: 40px;
    margin-right: 0.5em;
}

main {
    padding: 0;
    display: flex;
    overflow-y: auto;
    scrollbar-gutter: stable;
    max-height: calc(100vh - 205px);
}

main table {
    width: 100%;
    z-index: 1;
}

main table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

footer {
    position: fixed;
    padding: 7px 0 2.5em 0;
    bottom: 0;
    background-color: #f5f5f5;
    left: 0;
    width: 100%;
    z-index: 999;
}

footer .task_field {
    display: flex;
    margin: 0 2em;
    background-color: #ffffff;
    padding: 0.5em 0.3em;
}

footer .task_form .task_field img {
    width: 30px;
    margin: 0 0.2em;
}

footer .task_form .task_field input[type=text] {
    width: 100%;
    border: none;
    font-size: 16px;
}

footer .task_form .task_field input[type=text]:focus {
    outline: none;
}