{% extends "base.html" %}

{% block title %}
    <title>TickTask - Tick off your ToDos</title>
{% endblock %}

{% block content %}
    <header>
        <div class="header_title">
            <img src="{{ url_for('static', filename='vectors/clear_day.svg') }}" alt="Today Icon">
            <h1>Today</h1>
        </div>
        <div class="date">
            {{date_now}}
        </div>
    </header>

    <main>
        {% if tasks|length < 1 %}
        <div class="container">
            <img src="{{ url_for('static', filename='vectors/illustration.svg') }}" alt="Illustration designed by @realvjy Download from illustrations.co">
            <p>You don't have a task yet,<br>added task will be shown here.</p>
        </div>

        {% else %}
            <div class="task_list">
                <form action="/check_task" method="post" id="taskForm">
                    {% for task in tasks %}
                        <ul>
                            <li>
                                <div class="check_group">
                                    <input type="checkbox" name="task_{{task.id}}" id="task_{{task.id}}" value=True {% if task.is_task_done %}checked disabled{% endif %}>
                                    {{task.task}}
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                </form>
            </div>
        {% endif %}
    </main>
    
    <footer>
        <form class="task_form" action="/" method="post">
            <div class="task_field">
                <img src="{{url_for('static', filename='vectors/add.svg')}}" alt="Add task icon">
                <input type="text" placeholder="Add a task" id="task_content" name="task_content" autocomplete="off">
                <img src="{{url_for('static', filename='vectors/calendar_month.svg')}}" alt="Due date icon (Coming soon)">
            </div>
            <!-- <input type="submit" value="Add task"> -->
        </form>
    </footer>
{% endblock %}